/vendor/
/storage/cache/*
/storage/logs/*
/storage/mail/*
/storage/locks/*
/storage/private_uploads/*
/public/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/mail/.gitkeep
!/storage/locks/.gitkeep
!/storage/private_uploads/.gitkeep
!/public/uploads/.htaccess
!/public/uploads/.gitkeep
